* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica;
  font-size: 14px;
  line-height: 14px;
  color: #333;
}
.ancho{
  width: 1200px;
  margin: auto;
}
.margen{
  padding: 0;
}
.centrar{
  text-align: center;
}
.linearosa1 {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    margin-top: 1px;
}
.rosa {
    background-color: #ff3281;
}
.fondocremita {
    background-color: #FDF9F0;
}
.derecha {
    text-align: right;
    
}
.tabla1 {
    width: 1000px;
    height: 30px;
    margin: auto;
    border: 2px black solid;
    border-spacing: 5px;
    color: black;
    text-align: center;
    font-size: 20px;
}
.fondorocas {
    background: url(imagenes/fondopiedras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.letrasblancas {
    line-height: 75px;
    font-size: 25px;
    color: white;
    height: 400px;
}
.btn_solicitar {
    background-color: #ff3281;
    color: white;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 17px;
}
.btn_vervideo {
    border: 1px #ff3281 solid;
    color: white;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 17px;
    text-align: right;
}
.letra_texto {
    font-size: 20px;
    line-height: 50px;
    display: flex;
}
.contenedor1 {
   
    padding: 10px;
    width: 700px;
    display: inline-block;
    vertical-align: top;
}
.contenedor2 {
    
    width: 500px;
    display: inline-block;
    vertical-align: top;

}
.talento {
    line-height: 70px;
}
.Contenedorpadre {
    display: flex;
    width: 1200px;

}
.contenedorfoto {
    border-radius: 15px;
    padding: 20px 50px ;
    display: inline-block;
    vertical-align: top;
}
.contenedor3 {
    line-height: 30px;
    font-size: 17px;
    display: inline-block;
    vertical-align: top;
}
.contenedorpadre2 {
    display: flex;
    
}
.contenedorizq {
    width: 600px;
    line-height: 50px;
    font-size: 18px;
}
.contenedorderecha {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    flex: 1;
    max-width: 50%;
}
.rosa {
    color: #ff3281;
}
.formulario {
    border: 2px #ff3281 solid;
    padding: 30px;
}
.ultimopadre {
    display: flex;

}